body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

}

#ThirdLogoDiv {
	background-image: url("../3rd_Logo.png");
	background-size: 100% auto;
	width: 128px;
	height: 128px;
	background-repeat: no-repeat;
  background-position: center; 
  margin-left: auto;
  margin-right: auto;

}

#mainContentDiv {
  z-index: 3;
}

#photoDiv {
	text-align: center;
}

#masonDiv{
  background-image: url("../candy-mason.png");
  background-size: 100% auto;
  width: 30%;
  max-width: 500px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center; 
  margin: 1%;
}


#bagDiv{
  background-image: url("../treat-bag.png");
  background-size: 100% auto;
  width: 30%;
  max-width: 500px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center; 
  margin: 1%;
}


#pumpkinDiv{
  background-image: url("../mini-pumpkin.jpg");
  background-size: 100% auto;
  width: 30%;
  max-width: 500px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center; 
  margin: 1%;
}

#PaypalDiv
{
  background-image: url("../paypal.png");
  background-size: 100% auto;
  width: 100%;
  max-width: 601px;
  height: 213px;
  background-repeat: no-repeat;
  background-position: center; 
  margin-top: 10px;
  margin-bottom: 10px;
}

#PaypalMSGDiv
{
  background-image: url("../paypalmsg.png");
  background-size: 100% auto;
  width: 100%;
  max-width: 519px;
  height: 163px;
  background-repeat: no-repeat;
  background-position: center; 
  margin-top: 10px;
  margin-bottom: 10px;
}

#overlay-block {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #555555;
  opacity: 0.95;
  z-index: 5;
  float:top;
  min-height:100%;
}